.box{

    height: 200px;
    background: red;
}


#panel, #flip {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #555;
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
   
  }

  #panel {
    padding: 50px;
    display: none;
    margin-bottom: 50px;
  }

  #par{

    margin: 100px;
  }

  #chainingvalue{

    margin: 50px;
  }

  #getset{
    margin: 50px;
  }
  #getvalue1{
    margin: 50px;
  }

  .cssclass{

    background: red;
    height: 200px;
    width: 150px;
    position: absolute;

  }
  .fixed{

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: green;
  }